.loginbtn{
    margin-left: 330px;
    margin-top: 30px;
}

.loginHeading{
    text-align: center;
}
.errorMessage{
    margin-left: 330px;
    margin-top: 30px;
}

.signupbtn{
    margin-left: 20px;
    margin-top: 30px;
}